<div class="bar">
  <a routerLink="/" class="els-wrap el-1">
    <div class="icon">
      <span class="material-symbols-outlined"> home </span>
    </div>
    <p class="label">Home</p>
  </a>
  <a routerLink="/cart" class="els-wrap el-2">
    <div class="icon">
      <span class="material-symbols-outlined"> shopping_basket </span>
    </div>
    <p class="label">Baskets</p>
  </a>
  <a href="#" class="els-wrap el-3">
    <div class="icon">
      <span class="material-symbols-outlined"> notifications </span>
    </div>
    <p class="label">Updates</p>
  </a>
  <a href="#" class="els-wrap el-4">
    <div class="icon">
      <span class="material-symbols-outlined"> person </span>
    </div>
    <p class="label">Account</p>
  </a>
</div>
